<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jieniuwuliu.jieniu">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA2" />
    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <!-- 打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 获取临时读取存储权限 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jieniuwuliu.jieniu.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 定时服务 -->
        <service
            android:name=".service.MyService"
            android:process=":remote" />
        <!-- socket服务 -->
        <service
            android:name=".service.SocketService"
            android:process=":remote" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="014dc2eaeb4cbdedf205634f82cc75d9" />

        <activity
            android:name=".mine.ui.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.ModifyPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanQCActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.MyScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.MyTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.MyCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qipeishang.QPSORQXInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.StoreCertifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified" />
        <activity
            android:name=".mine.ui.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.OrderInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CarTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jijian.JiJianActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified" />
        <activity
            android:name=".EditAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.AddPicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.SuoQuFaPiaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".luntan.AppearTextActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".mine.ui.AddressListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jijian.JiJianSelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".jijian.JiJianNumActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified" />
        <activity
            android:name=".mine.ui.StoreInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.EditInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".mine.ui.MyFollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.MyStoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".luntan.LuntanInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.ChooseAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".YinSIActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FuWuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.QXActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.WorkTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoreCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.AddStorePicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".luntan.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".peisongyuan.PeisongHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".peisongyuan.RenwuInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ui.EditFapiaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jijian.EditShouAdrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".luntan.LookPicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".luntan.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor" />
        <activity
            android:name=".jijian.PayTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".peisongyuan.PSYListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".luntan.MsgListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".peisongyuan.PrintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity android:name=".mine.ui.MonthCardPayActivity" />
        <activity android:name=".home.QPShopActivity" />
        <activity android:name=".peisongyuan.FinishRenwuActivity" />
        <activity android:name=".jijian.ChoosePsyActivity" />
        <activity android:name=".home.OrderDescActivity"></activity>
    </application>

</manifest>